
            body {
               font-family: 'Cabin', sans-serif;
            }
                
            .header {
                background-color: blue;
                width: 100%;
                height: 150px;            
            }
        
            h1 {text-align: center;
                padding-top: 50px;
                font: Helvetica; 
                font-color: white;
            }
            .image {
                width: 30%;
                height: 30%;
                margin: 0 auto;
            }
            .content{
                background-color: white;
                width: 100%
            }