body {
	background-color: #C4BEC3;
	font-family: 'Raleway', sans-serif;
}

#container {
	width: 85%;
	margin: 0 auto;
}


#header {
	background-color: #54BFA3;
  	width: 100%;
  	height: 200px;
  	position: relative;
  	border-style: solid;
  	border-width: 5px;
  	border-color: #215447;
  	border-radius: 20px;
}

h1 {
	padding-top: 60px;
	padding-left: 30px;
	color: #FFFFFF;
	font-size: 50px
}

#sidebar {
	float: left;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 20%;
	min-height: 800px;
	overflow: hidden;
	background-color: #528577;
	border-style: solid;
  	border-width: 2px;
  	border-color: #215447;
  	border-radius: 10px;
}

#sidebar p {
	padding-top: 10px;
	padding-left: 10px;
	color: #FFFFFF;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 25px;
}

#sidebar ul {
	color: #FFFFFF;
	/* text-decoration: none; */
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 20px;
	line-height: 30px;
}

#content {
	float: right;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 75%;
	min-height: 800px;
	overflow: hidden;
	background-color: #AEC2BD;
	border-style: solid;
  	border-width: 2px;
  	border-color: #215447;
  	border-radius: 10px;
}

#content p {
	text-align: center;
	color: #215447;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 25px;
	padding: 20px;
	
}

span {
	color: #6B2B4C;
}

#image {
	position: relative;
	display:block;
	margin: auto;
	border-radius: 10px;
	width: 550px;
	overflow: hidden;
	
}

#image {
	position: relative;
	z-index:1;
}

#image img {
	width: 600px;
}

#image p {
	display: block;
	position: absolute;
	width: 100%;
	top: 30%;
	left: 0;
	z-index: 2;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
}

#footer {
	clear: both;
	width: 100%;
	height: 75px;
	background-color: #54BFA3;
	border-style: solid;
  	border-width: 5px;
  	border-color: #215447;
  	border-radius: 20px;
}

#footer p {
	padding-left: 10px;
	color: #FFFFFF;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 25px;
	text-decoration: none;
}

#footer a {
	padding-left: 10px;
	color: #FFFFFF;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 25px;
	text-decoration: none;
}

a:link {
	color: #69D19B;
}

a:visited {
	color: #2B6B4A;
}

a:hover {
	color: #6B2B4C;
}
