
#container {
	width: 85%;
	margin: 0 auto;
}


#header {
	background-color: #54BFA3;
  	width: 100%;
  	height: 200px;
  	border-style: solid;
  	border-width: 5px;
  	border-color: #215447;
  	border-radius: 20px;
}

h1 {
	padding-top: 60px;
	padding-left: 30px;
	color: #FFFFFF;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 50px
}

#sidebar {
	float: left;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 200px;
	height: 800px;
	background-color: #528577;
	border-style: solid;
  	border-width: 2px;
  	border-color: #215447;
  	border-radius: 10px;
}

#sidebar p {
	padding-top: 10px;
	padding-left: 10px;
	color: #FFFFFF;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 25px;
}

#sidebar ul {
	color: #FFFFFF;
	/* text-decoration: none; */
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 20px;
	line-height: 30px;
}

#content {
	float: right;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 750px;
	height: 800px;
	background-color: #AEC2BD;
	border-style: solid;
  	border-width: 2px;
  	border-color: #215447;
  	border-radius: 10px;
}

#content p {
	text-align: center;
	color: #215447;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 25px;
	padding: 20px;
	
}

span {
	color: #6B2B4C;
}

#image div {
	left:100px;
	position: relative;
	width: 550px;
	color: #FFFFFF;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 15px;
}

img {
	position: relative;
	left: 100px;
	border-radius: 10px;
	width: 550px;
	
}

#caption div {
	position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#caption_content p {
	color: #FFFFFF;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 15px;
}

#footer {
	clear: both;
	width: 100%;
	height: 75px;
	background-color: #54BFA3;
	border-style: solid;
  	border-width: 5px;
  	border-color: #215447;
  	border-radius: 20px;
}

#footer p {
	padding-left: 10px;
	color: #FFFFFF;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 25px;
	text-decoration: none;
}

#footer a {
	padding-left: 10px;
	color: #FFFFFF;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 25px;
	text-decoration: none;
}

a:link {
	color: #69D19B;
}

a:visited {
	color: #2B6B4A;
}

a:hover {
	color: #6B2B4C;
}
