#container {
	margin: 0 auto;
}

/* =========================================== */
/* Header */
/* =========================================== */

#nav {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	background-color: #0dccc0;
	width: 100%;
	height: 100px;
	opacity: 0.5;
	padding-bottom: 5px;
}


#title {
	font-family: 'Raleway', sans-serif;
	font-size: 35px;
	color: #000000;
	display: inline-block;
	padding-left: 10px;
	padding-top: 20px;
}

#links {
	font-family: 'Raleway', sans-serif;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 25px;
}

#links a {
	color: #000000;
	text-decoration: none
}

#links a:hover {
	background-color: #FFFFFF
}

#bannerimg {
	z-index: -1;
	left: 0;
	top: 0;
	background: 'unit1_projects/images/bigsur.jpg';
}

#bannerimg img {
	width: 100%;
}

/* =========================================== */
/* Content */
/* =========================================== */
.content {
	width: 60%;
	background: linear-gradient(to right, #FFFFFF, #D8FBF9, #FFFFFF);
	margin: 0 auto;
}

.content h1 {
	font-family: 'Raleway', sans-serif;
	color: #0dccc0;
	font-size: 30px;
}

.content h2 {
	font-family: 'Raleway', sans-serif;
	color: #848484;
	font-size: 20px;
}

.content h3 {
	font-size: 16px;
}


.post {
	font-family: 'Karla', sans-serif;
	border-bottom-style: solid;
	border-bottom-color: #848484;
	border-bottom-width: 5px;
	margin: 0 auto;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 1.5;
}

.post a {
	color: #0dccc0;
}

.post a:active {
	color: #6A0888;
}

.post a:hover {
	color: #848484;
}

/* =========================================== */
/* Footer */
/* =========================================== */
#footer {
	position: relative;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #0dccc0;
	width: 100%;
	height: 75px;
	opacity: 0.5;

}

.icons {
	width: 100%;
	padding-top: 10px;
	list-style-type: none;
	margin: 0 auto;
}

.icons li {
	text-align: center;
	float: left;
	width: 16%;
}

.icons img:hover {
	background-color: #FFFFFF;
}

.icons li a {
	display: inline-block;
}
