#container {
	width: 94%;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;

}

#nav {
	
	background-color: #0dccc0;
	width: 100%;
	height: 75px;
	font-size: 30px;
	color: #FFFFFF;
}

#nav a {
	color: #FFFFFF;
}

#nav a:hover {
	color: #848484;
}

#title {
	display: inline-block;
	padding-left: 10px;
	padding-top: 20px;
}

#links {
	display: inline-block;
	position: absolute;
	padding-left: 600px;
	padding-top: 20px;

}

#bannerimg {
	width: 99.3%;
	left: 0;
	top: 0;
	position: relative;
	background: 'unit1_projects/images/bigsur.jpg';
	border-width: 5px;
	border-style: solid;
	border-color: #0dccc0;
	border-bottom: none;
}

#bannerimg img {
	width: 100%;
}

.content {
	width: 60%;
	float: left;
	padding-left: 10px;
}

.post {
	border-bottom-style: solid;
	border-bottom-color: #0dccc0;
	border-bottom-width: 5px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 1.5;
}

.post h1 {
	color: #0dccc0;
}

.post h2 {
	color: #848484;
}

.post a:active {
	color: #6A0888;
}

.post a:link {
	color: #2E2EFE;
}

.post a:visited {
	color: #0489B1;
}
.sidebar {
	float: right;
	width: 30%;
	padding-top: 5px;
	border-radius: 15px;
	background-color: #0dccc0;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	color: #FFFFFF;
	line-height: 1.5;
}

.sidebar h2 {
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
}

.sidebar ul {
	list-style-type: none;
}

.sidebar ul li a { 
	text-decoration: none;
	font-size: 20px;
}

.sidebar ul li a:link {
	color: #FFFFFF;
}

.sidebar ul li a:hover {
	color: #6B2B4C;
}
